apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-klgegpoq
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-klgegpoq:9afccefb340e2773567d718a615c9b0fe2ca53e4@sha256:a41a699214afb5d7c4d1ef8b4a42c2cbc9c8bcdad70c66c57e8736a810c7652c
        name: container-image  
